.full-width-table {
  width: 100%;
}

.search-field {
  width: 20em;
  background-color: white;
  border: solid 1px #3f51b5;
}

.paginator {
  color: rgba(0,0,0,.54);
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap-reverse;
  width: 100%;
}

.range-label {
  margin-right: 0.5em;
}

.page-size-select {
  margin-right: 2em;
  width: 3em;
}
